################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskTide/.vs
/TaskTide/TaskTide/bin/Debug/net8.0
/TaskTide/TaskTide/obj/Debug/net8.0
/TaskTide/TaskTide/obj
